<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>招商加盟</title>
	<style type="text/css">
	body{
		max-width: 100%;
		min-width:1100px;
		max-height:1300px;
		min-height:800px;		 
		}
		.bg{
			width:100%;
			height:1200px;
			background-color:#202020;
			border:1px solid blue; 
			position:relative;
		}
		ul li{
			list-style: none;
			text-decoration: none;
		}
		li{
			margin-left: 50px;
			color:#A88C48;
			float:left;
		}
		a{
			text-decoration: none;
			color:#A88C48;
			font-weight: 800;
		}
		a :hover{
			color:white;
		}
		h5{
			color:white;
		}
		.bs{
			margin-left:200px;
			background:url("imgs/bg.png") no-repeat;
			background-size:100px 31px;   /*背景图片设置宽高*/
		}
		.nav{
			display:flex;
			justify-content:space-around;
		}
		.brand{
			width:1200px;
			height:380px;
		}
		.brand p{
			color:white;
		}
		.abc{
			border: 1px solid red;
			margin-left:200px;
			float:left;
			width: 482px;
			height: 370px;
			overflow: hidden;
		}
		.fl{
			width:500px;
			height: 370px;			
			overflow-x:auto;			 
		}
		.fr{
			width:500px;
			height:500px;
			float:right;
			margin-left: 100px;
			margin-top:-420px; 
		}
		input{
			padding-left: 10px;
			width:300px;
			height:44px;
			border-radius: 5px;
			margin-top: 20px;			
			border:1px solid white;
			background-color: rgba(0,0,0,0.1);
			display:block;
			color:white;
			margin-left: 100px;
		}
		input:focus {
			outline:#A88C48;
			border: 1px solid #A88C48;
		}
		.title5{
			margin-left: 100px;
			background:url("imgs/bg.png") no-repeat;
			background-size:100px 31px;
		}
		.submit{
			color:white;
			margin-left: 100px;
			margin-top: 20px;
			display: block;
			background:url("imgs/bg.png") no-repeat;
			background-size:100px 31px;
		}
		a{
			text-decoration: none;
		}
		.box{
			width: 1360px;
			height: 880px; 
			/*border: 1px solid red;*/
			margin: 0 auto;
			position:absolute;
			top: 0px;
			left: 0px;
		}
		.bottom{
			width:1200px;
			height:100px;
			position:absolute;
			left:100px;
			top:1000px;
		}
		span{
			color:#7F4624;
			margin-bottom: 20px;
		}
		ul li{
			list-style: none;
			text-decoration: none;
			float:left;
		}
		li{
		
			color:#A88C48;
			float:left;
		}
		.tea li{
			float:left;
		}
		.teaName li{
			float:left;
		}
		.bfl{
			float:left;
			margin-left:200px; 
		}
		.bfr{
			float:right;
			margin-right:100px;
		}
		.nav-list li{
			margin-left: 40px;
		}

	</style>
</head>
<body>
	<div class="bg">
	<div class="nav">
			<div class="logo"><img src="imgs/logo.png" ></div>
			<div class="menu">
				<ul>
					<li><a href="/firstPage">网站首页</a></li>
					<li><a href="/guanyuwomen">关于我们</a></li>
					<li><a href="/produce">产品展示</a></li>
					<li><a href="/news">新闻资讯</a></li>
					<li><a href="/teaCulture">茶道知识</a></li>
					<li><a href="/china">招商加盟</a></li>
					<li><a href="/contaction">400-x00-8888</a></li>
				</ul>
			</div>
	</div>
<div style="position: relative;width: 1360px;height: 880px;margin: 0 auto;">
	
	<embed height="245" width="375" allowscriptaccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="http://pml58393f.pic32.websiteonline.cn/upload/swfBg.swf" style="width: 1360px; height: 880px; margin:  0 auto; display: block;">	
<div class="box">	
	<h5 class="bs">品牌优势</h5>
	<div class="brand">
	<div class="abc">
		<div class="fl">
		<p>1、资源优势：</p>
		<p>
			公司拥有占地面积1200多亩的自有古树茶园，在云南各大古茶山都建有原料基地，采用原始自然的古树茶为原料，做真正的古树茶
		</p>
		<p>2、品质优势：</p>
		<p>
			拥有四五十年经验的老茶师、***评茶师、专业人士和本土人才相结合的技术研发团队，传承古法，采用传统手工制作工艺
		</p>
		<p>3、文化优势：</p>
		<p>老马帮人致力于传承普洱茶文化，弘扬马帮精神，把普洱茶源远流长的文化元素推向世界</p>
		<p>4、营销优势：</p>
		<p>
			公司拥有6大中心、12大部门，近百人的优秀精英团队，具有10多年丰富茶行业营销经验和管理经验，把先进的营销理念和营销网络相结合
		</p>
		<p>5、规范化优势：</p>
		<p>
			产品通过了ISO国际质量管理体系认证、SHACCP食品质量科学管理认证、QS认证并达到了国家AAA级水平
		</p>
		<p>6、推广优势：</p>
		<p>
			公司建立了全面的品牌推广渠道，通过网络媒体、电视宣传、平面广告、报刊、杂志、
			展会、赞助等方式进行铺洒式宣传
		</p>
		<p>7、培训优势：</p>
		<p>
			公司拥有成熟的运营模式、完善的茶艺、销售培训机制，为加盟商提供营运指导、茶艺培训和销售培训
		</p>
		<p>8、增值优势：</p>
		<p>
			古树普洱茶越陈越醇香，越藏越值钱，被誉为“能喝的古董”，其增值速度远高于传统理财形式的利润涨幅，更具投资有收藏价值
		</p>
		<p>9、创新的运营模式：</p>
		<p>
			巨资注入招商环节，以分级合作加盟为主要经营模式，鼓励合作联盟；以经销赢利为目的、以品牌的发展为目标，厂家直接供货，首批进货数量少、供货价格低、利润空间高</p>
		<p>10、公司利润分成：</p>
		<p>
			行业内绝无仅有的优势，成为公司的合作商，不仅可以享受公司较高优惠政策，而且可以获得公司的年终利润分红
		</p>
		</div>
</div>
	<div class="fr">
		<h5 class="title5">在线申请</h5>
		<div class="inp">
			<a href="#"><input type="text" placeholder="您的姓名"></a>	
			<a href="#"><input type="text" placeholder="您的手机"></a>	
			<a href="#"><input type="text" placeholder="您的邮箱"></a>	
			<a href="#"><input type="text" placeholder="备注问题"></a>
		</div>	
		<a href="#" class="submit">提交</a>
	</div>
	</div>
</div>
<div class="bottom">
				<div class="bfl">
					<span>Copyright © 2009 - 2014 Cld , All Rights Reserved 酒业有限公司</span>
					<span>版权所有</span>
					<span> 陕ICP备1xxxxx17号</span>
				</div>
				<div class="bfr">
					<span>技术支持:网络科技</span>
				</div>
			</div>


</div>

</body>	
<script type="text/javascript">
		$(document).ready(function(){
			$("fl").scroll(function(){
				$("fl p").text(x+=1);
			});
		});
</script>
<script type="text/javascript" src="js/jquery.min.js"></script>
</html>