<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>关于我们</title>
	<style type="text/css">
	body{
		max-width: 100%;
		min-width:1100px;
		max-height:1300px;
		min-height:800px;		 
		}
		.bg{
			width:100%;
			height:1300px;
			background-color:#202020;
			border:1px solid blue; 
			position:relative;
		}
		.bottom{
			position:absolute;
			left:230px;
			top:1100px;
			margin-bottom:-100px;
		}
		span{
			color:#7F4624;
			margin-bottom: 20px;
		}
		ul li{
			list-style: none;
			text-decoration: none;
		}
		li{
			margin-left: 50px;
			color:#A88C48;
			float:left;
		}
		.fl{
			float:left;
			margin-left:200px; 
		}
		.fr{
			float:right;
			margin-right:50px;
		}
		a{
			text-decoration: none;
			color:#A88C48;
			font-weight: 800;
		}
		a hover:{
			color:white;
		}
		.nav{
			display:flex;
			justify-content:space-around;
		}
		#bgImg{
			width:1200px;
			height:1100px;
			margin:0 auto;
			position:absolute;
			left:330px;
			top:80px;
			opacity:0.5;
		}
		.box{
			z-index: 100;
		}
		h5{
			color:white;
			background:url("imgs/bg.png") no-repeat;
			background-size:100px 31px;
			display: block;
			position:absolute;
			left: 300px;
			top: 149px; 
		}
		.certification{
			width:100%;
			height:130px;
			margin-top:140px;
			margin-left:380px;
		}
		.certification li img{
			list-style:none;
			float:left;
			width:190px;
			height:130px;
			margin-left:-25px;
		}
		.introduce{
			margin:0 auto;
			width:844px;
			height:180px;
			position: absolute;
			left:300px;
			top:200px;
			margin:0 auto;
		}
		.introduce p{
			color:white;
			text-align:left;
			font-size: 15px;
			font-family:"SimSun"
			padding-top:20px;
		}
		.cer{
			position:absolute;
			left:-150px;
			top:500px;
			margin:0 auto;
		}
	</style>
</head>
<body>
	<div class="bg">		
		<div class="nav">
			<div class="logo"><img src="imgs/logo.png" ></div>
			<div class="menu">
				<ul>
					<li><a href="/firstPage">网站首页</a></li>
					<li><a href="/guanyuwomen">关于我们</a></li>
					<li><a href="/produce">产品展示</a></li>
					<li><a href="/news">新闻资讯</a></li>
					<li><a href="/teaCulture">茶道知识</a></li>
					<li><a href="/china">招商加盟</a></li>
					<li><a href="/contaction">400-x00-8888</a></li>
				</ul>
			</div>
		</div>
		<div style="position: relative;width: 1360px;height: 880px;margin: 0 auto;">
	
	<embed height="245" width="375" allowscriptaccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="http://pml58393f.pic32.websiteonline.cn/upload/swfBg.swf" style="width: 1360px; height: 880px; margin:  0 auto; display: block;">		
		<h5>公司简介</h5>
		<div class="rightScroll">
		<div class="introduce">
			<p>
					勐海县茶业有限责任公司成立于2012年，公司全国营销中心设在有世界工厂之称的——东莞市，公司总部位于勐海县.
			</p>
			<p>
					勐海县位于云南省南部，西双版纳傣族自治州西部，亚热带气候，高海拔、多河流（属澜沧江水系）等独特的地理环境，是闻名中外“普洱茶”的故乡，也是我国产茶较早之地，有1700年前的野生“茶树王”和800余年前的古树茶树。
			</p>
			<p>					
					公司拥有占地1200多亩的自有茶园，同时在云南各大古茶山都建有原料基地；拥有占地面积多达50亩的现代化、园林式厂房，厂区内环境优雅，整体配套设施完善。
			</p>
			<p>			
				古树普洱茶在制作工艺上，以原始自然的古树茶为原料，传承百年纯手工制作工艺；在技术研发方面，高薪聘请有着四、五十年经验的老茶师、国家高级评茶师、专业人才和本土人才；在生产管理方面，严格执行ISO国际质量管理体系标准、HACCP食品安全保证体系标准和QS食品质量安全管理体系标准，全面保证古树普洱茶的高规格、高标准和高品质。	
			</p>
			<p>
				
				公司投入亿元巨资全力把“”打造成为行业内较具影响力的高端古树普洱茶品牌，计划在未来2年内完成700家全国加盟门店的市场布局。
				茶业始终坚持“天然”、“健康”、“有品位”的茶饮理念，以“普及普洱茶文化、倡行健康慢生活”为己任，让每一位消费者都能品味到古树普洱茶的原生态和高品质。
			</p>
			<p>
				我们真诚地期待您的加盟合作，让我们携手共进财富之门、同创伟业辉煌！
			</p>
		</div>
		</div>
		<div class="cer">
		<ul class="certification">
			<li><img src="imgs/01.jpg"></li>
			<li><img src="imgs/02.jpg"></li>
			<li><img src="imgs/03.jpg"></li>
			<li><img src="imgs/04.jpg"></li>
		</ul>
		</div>




		<div class="bottom">
			<div class="fl">
				<span>Copyright © 2009 - 2014 Cld , All Rights Reserved 酒业有限公司</span>
				<span>版权所有</span>
				<span> 陕ICP备1xxxxx17号</span>
			</div>
			<div class="fr">
					<span>技术支持:网络科技</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>