<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>新闻资讯</title>
	<style type="text/css">
	body{
		max-width: 100%;
		min-width:1100px;
		max-height:1300px;
		min-height:800px;		 
		}
		.bg{
			width:100%;
			height:1200px;
			background-color:#202020;
			border:1px solid blue; 
			position:relative;
		}
		ul li{
			list-style: none;
			text-decoration: none;
		}
		li{
			margin-left: 50px;
			color:#A88C48;
			float:left;
		}
		a{
			text-decoration: none;
			color:#A88C48;
			font-weight: 800;
		}
		a hover:{
			color:white;
		}
		.nav{
			display:flex;
			justify-content:space-around;
		}
		.nav-list li{
			margin-left: 60px;
		}
		.container01{
			position:relative;
		}
		.newsList{
			float:left;
			margin-left:300px;
			margin-top:100px;
			width:500px; 
			height:100px;

		}
		.newsList li{
			margin-left: 40px;
		}
		.newsList li :hover{
			color:white;
		}
		.news a :hover{
			color:#A88C48;
		}
		.news{
			width:800px;
			height:800px;
			margin-top: 250px;
			margin-left:360px;
		}
		.news p{
			color:white;
		}
		.xz{
			position: absolute;
			left:90px;
			top:10px;
		}
		.bottom{
			position:absolute;
			left:100px;
			top:1100px;
		}
		span{
			color:#7F4624;
			margin-bottom: 20px;
		}
		.fl{
			float:left;
			margin-left:350px; 

		}
		.fr{
			float:right;
			margin-right:-20px;
		}
		.moveImg{
			margin:0 auto;
		}

	</style>

</head>
<body>
	<div class="bg">
	<div class="nav">
			<div class="logo"><img src="imgs/logo.png" ></div>
			<div class="menu">
				<ul class="nav-list">
					<li><a href="/firstPage">网站首页</a></li>
					<li><a href="/guanyuwomen">关于我们</a></li>
					<li><a href="/produce">产品展示</a></li>
					<li><a href="/news">新闻资讯</a></li>
					<li><a href="/teaCulture">茶道知识</a></li>
					<li><a href="/china">招商加盟</a></li>
					<li><a href="/contaction">400-x00-8888</a></li>
				</ul>
			</div>
		</div>
			<div style="position: relative;width: 1360px;height: 880px;margin: 0 auto;">
			
			<embed height="245" width="375" allowscriptaccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="http://pml58393f.pic32.websiteonline.cn/upload/swfBg.swf" style="width: 1360px; height: 880px; margin:  0 auto; display: block;">	
		<div class="xz">
		<ul class="newsList">
			<li><a href="#">行业新闻</a></li>
			<li><a href="#">网站广告</a></li>
		</ul>
		<div class="news">
			<div class="news1">		
				<h5><a href="#">《茗皇乌龙湛江专版》喜获创意设计大赛优秀</a></h5>			
				<p>2016-09-03</p>
				<p>
					和田玉作为中国传统文化中的重要元素，一直以来都影响和滋养着国人。现代社会，人们依然习惯于身上佩戴一块玉，人养玉、玉养人这样的概念已经深入人心。同时中国作为一个信奉礼尚往来的国家，把
				</p>
			</div>
			<div class="news2">
				<h5><a href="#">第六届广东现代农业博览会在广州举办</a></h5>
				<p>2016-09-03</p>
				<p>
					玉石的收藏投资价值也越来越得到收藏爱好者和投资者的认可和青睐。因而作为中国四大名玉中较为著名，也较受喜爱的和田玉，理所当然的成为了投资收藏或送礼的绝佳之选。和田玉一直来都被视为玉石
				</p>
			</div>
			<div class="news3">
				<h5><a href="#">热烈庆祝茗皇红乌龙茶加工技术取得国家专利</a></h5>
				<p>2016-09-03</p>
				<p>
					和田玉投资加盟是创业投资者较关心的话题，一个成功的创业项目还是投资项目，一定是要经历很多艰难的考核因素。经过认真总结我们根据和田玉行业市场经验综合市场考虑，尤其在和田玉加盟投资的重
				</p>
			</div>
		</div>
</div>	
	
	<div class="bottom">
			<div class="fl">
				<span>Copyright © 2009 - 2014 Cld , All Rights Reserved 酒业有限公司</span>
				<span>版权所有</span>
				<span> 陕ICP备1xxxxx17号</span>
			</div>
			<div class="fr">
					<span>技术支持:网络科技</span>
			</div>
	</div>
</div>	
</body>
</html>