<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<style type="text/css">
		body{
			max-width: 100%;
			min-width:1100px;
			max-height:1300px;
			min-height:800px;		 
		}
		.bg{
			width:100%;
			height:1200px;
			background-color:#202020;
			border:1px solid blue; 
			position:relative;
		}
		.bottom{
			position:absolute;
			left:100px;
			top:1150px;
		}
		span{
			color:#7F4624;
			margin-bottom: 20px;
		}
		.fl{
			float:left;
			margin-left:350px; 

		}
		.fr{
			float:right;
			margin-right:100px;
		}
		.moveImg{
			margin:0 auto;
		}
		#bgImg{
			width:1200px;
			height:1100px;
			margin:0 auto;
			margin-left: 330px;			
		}
		.cha{
			margin:0 auto;
		}
		.logo{
			width:214px;
			height:60px;
			position:absolute;
			left:700px;
			top: 100px;
		}
		#teaImg{
			width:480px;
			height:230px;
			position:absolute;
			left:600px;
			top: 350px;
		}
		
		.click{
			display: block;
			position:absolute;
			left:800px;
			bottom: 300px;
			background:url("imgs/bg.png") no-repeat;
			background-size:100px 31px;
			cursor: pointer;			
		}
	</style>
</head>
<body>
<div class="bg">		
	<div class="moveImg">
		<embed id="bgImg" src="imgs/swfBg.swf">
			<div class="logo"><img src="imgs/logo.png" ></div>
			<div><embed id="teaImg" src="imgs/cha.swf"></embed></div>
			<div>
				<a href="/firstPage">
					<span class="click">点击进入</span>
				</a>
				<div>
		</embed>		
	</div>
	
	<div class="bottom">
			<div class="fl">
				<span>Copyright © 2009 - 2014 Cld , All Rights Reserved 酒业有限公司</span>
				<span>版权所有</span>
				<span> 陕ICP备1xxxxx17号</span>
			</div>
			<div class="fr">
					<span>技术支持:网络科技</span>
			</div>
	</div>
</div>									<!-- http://tea-442.view.sitestar.cn/ -->
</body>
</html>