<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<title></title>
	<style>
	.container{
		border: 1px solid gray;
		border-radius: 4px;
		width: 300px;
		height: 500px;
		margin: 0 auto;
		}
		h3{
		margin:0 auto;
		}
		input{
		width:200px;
		height:30px;
		border-radius:6px;
		}
	</style>
</head>
<body>
	<div class="containser col-lg-6">
		<h3>Contact form</h3>
		<form method="post" action="/reg" enctype="multipart/form-data">
		<div class="form-group">
			用户名:<input type="text" class="form-control" id="inputName"
			name="username" placeholder="Name">			
		</div>
		<div class="form-group">
			密码:<input type="text" class="form-control" id="pw1" name="pw" placeholder="Password">			
		</div>
		<div class="form-group">
			重复密码:<input type="pw" class="form-control" id="inputPw" placeholder="Password">			
		</div>
		<div class="form-group">
			邮箱:<input type="email" class="form-control" id="inputEmail" placeholder="Email">		
		</div>
		<div class="form-group">
			手机号:<input type="Mobil Number" class="form-control" id="inputEmail" placeholder="Mobil Number">		
		</div>
		<div class="form-group">
			头像:			
			<input type="file" name="img">
		</div>
		性别:<select class="form-control" name="sex">
				<option value="女">女</option>
				<option value="男">男</option>
			</select>	
		 <div class="button-group" role="group">
    		<button type="submit" class="btn btn-default">注册</button>
  		</div>
  		</form>
	</div>

	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.js"></script>
</body>
</html>