<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>茶道知识</title>
	<style type="text/css">
		body{
			max-width: 100%;
			min-width:1100px;
			max-height:1300px;
			min-height:800px;		 
		}
		.bg{
			width:100%;
			height:1200px;
			background-color:#202020;
			border:1px solid blue; 
			position:relative;
		}
		ul li{
			list-style: none;
			text-decoration: none;
		}
		li{
			margin-left: 50px;
			color:#A88C48;
			float:left;
		}
		a{
			text-decoration: none;
			color:#A88C48;
			font-weight: 800;
		}
		a :hover{
			color:white;
		}
		.nav{
			display:flex;
			justify-content:space-around;
		}
		.nav-list li{
			margin-left: 60px;
		}
		.culList{
			float:left;
			margin-left:300px;
			margin-top:100px;
			width:500px; 
			height:100px;

		}
		.culList li{
			margin-left: 40px;
		}
		.culList li :hover{
			color:white;
		}
		.culture a :hover{
			color:#A88C48;
		}
		.culture{
			width:800px;
			height:800px;
			margin-top: 250px;
			margin-left:360px;
		}
		.culture p{
			color:white;
		}
		.bottom{
			width:1200px;
			height:100px;
			position:absolute;
			left:-100px;
			top:1000px;
		}
		span{
			color:#7F4624;
			margin-bottom: 20px;
		}
		.fl{
			float:left;
			margin-left:350px; 

		}
		.fr{
			float:right;
			margin-right:-100px;
		}
		.moveImg{
			margin:0 auto;
		}
		.cd{
			position: absolute;
			left: -100px;
			top:10px;
		}
	</style>
</head>
<body>
	<div class="bg">
	<div class="nav">
			<div class="logo"><img src="imgs/logo.png" ></div>
			<div class="menu">
				<ul class="nav-list">
					<li><a href="/firstPage">网站首页</a></li>
					<li><a href="/guanyuwomen">关于我们</a></li>
					<li><a href="/produce">产品展示</a></li>
					<li><a href="/news">新闻资讯</a></li>
					<li><a href="/teaCulture">茶道知识</a></li>
					<li><a href="/china">招商加盟</a></li>
					<li><a href="/contaction">400-x00-8888</a></li>
				</ul>
			</div>
		</div>	
			<div style="position: relative;width: 1360px;height: 880px;margin: 0 auto;">
	
			<embed height="245" width="375" allowscriptaccess="always" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="http://pml58393f.pic32.websiteonline.cn/upload/swfBg.swf" style="width: 1360px; height: 880px; margin:  0 auto; display: block;">	
		<div class="cd">
		<ul class="culList">
			<li><a href="#">茶叶功效</a></li>
			<li><a href="#">健康茶道</a></li>
			<li><a href="#">品茶常识</a></li>
		</ul>
		<div class="culture">
			<div class="culture1">		
				<h5><a href="#">《茗皇乌龙湛江专版》喜获创意设计大赛优秀</a></h5>			
				<p>2016-09-03</p>
				<p>
					和田玉作为中国传统文化中的重要元素，一直以来都影响和滋养着国人。现代社会，人们依然习惯于身上佩戴一块玉，人养玉、玉养人这样的概念已经深入人心。同时中国作为一个信奉礼尚往来的国家，把
				</p>
			</div>
			<div class="culture2">
				<h5><a href="#">第六届广东现代农业博览会在广州举办</a></h5>
				<p>2016-09-03</p>
				<p>
					闲暇时候，喝杯茶可以修身养心，工作累了的时候，喝杯茶可以赶走疲劳，心情烦躁的时候，喝杯茶可以神清气爽……所以茶，是一种很好的饮品。对于白癜风，茶同样可以起到很好的预防作用。那么就让
				</p>
			</div>
			<div class="culture3">
				<h5>
					<a href="#">茶叶的用途，主要是作为饮料，是一种色、香、味兼具的绝佳饮料。泡过的茶叶也有很高的利用价值。现将其中的一些用途介绍如下：</a>
				</h5>
				<p>2016-09-03</p>
				<p>
					夏天，很多MM都喜欢泡浓茶喝，以达到去脂减肥的目的。不说不知道，每次泡过茶的茶叶，其实不必记着倒掉，留下来或是用于清洁家具，除臭或是养殖动植物，都是很好的。
				</p>
			</div>
		</div>
	</div>










	<div class="bottom">
			<div class="fl">
				<span>Copyright © 2009 - 2014 Cld , All Rights Reserved 酒业有限公司</span>
				<span>版权所有</span>
				<span> 陕ICP备1xxxxx17号</span>
			</div>
			<div class="fr">
					<span>技术支持:网络科技</span>
			</div>
	</div>
</div>

</body>
</html>